

body{
    font-family: "Trebuchet MS", Helvetica , sans-serif;
    background: #f4f4f4;
}


#container{
    
    width: 85%;
    margin: auto;
    min-width: 600px;
    max-width: 1024px;
}

#marca{
    height: 100px;
    text-align: center;
    background: grey;
    line-height: 100px;
}

#conteudo{
   
    width: 74%;
    float: right;
}


#conteudo-principal{
    width: 64%;
    float: left;
}

#conteudo-secundario{
    width: 34%;
    float: right;
    background-color: #c4c0c0;
}

#conteudo-secundario h1, h2, h3, p {
    padding-left: 20px;
    padding-right: 20px;

}






#navegacao{
    width: 24%;
    float: left;
    background-color: rgba(128, 128, 128, 0.63);
}

ul{
    list-style:none ;
}

ul li{
    padding: 5px;
}

li a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:rgb(30, 107, 151)
}



#rodape{
    clear: both;
    background-color: rgba(128, 128, 128, 0.63);
    text-align: center;
}