ul{
    margin: 0px;
    padding: 0px;
    background: #159cb0 url('../imagens/fundo-horizontal.png') repeat-x ;
    width: 720px;
    list-style-type: none;
    float:left;
}

ul li{
    float:left;
}

ul a{
    display:block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url('../imagens/divisor.png') repeat-y;
}

ul .primeiro a{
    background-image: none;
}

a:hover{
    color:#085662 ;
    background-color: #44cade;
}

#home .home a,
#sobre .sobre a,
#servicos .servicos a,
#noticias .noticias a,
#contato .contato a{
    color:#085662 ;
    background-color: #44cade;
}